:root {
    --yellow: #bba9f1a1;
    --bg-white: #ddedf4;
    --bg-grey: #4c4949;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection {
    background: var(--yellow);
    color: #f7f2f2;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1.4rem;
}

html::-webkit-scrollbar-track {
    background: white;
}

html::-webkit-scrollbar-thumb {
    background: var(--yellow);
}

body {
    background: #ffffff;
    color: #000000;
    overflow-x: hidden;
    padding-left: 35rem;
}

section {
    min-height: 90vh;
    padding: 1rem;
}

.btn {
    padding: 1.5rem;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 1rem;
}

.projBtn {
    padding: 1.5rem;
    font-size: 2rem;
    border-radius: 1rem;
}

.btn i {
    padding: 0.5rem;
    font-size: 75%;
}

.heading {
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid #fff4;
    color: whitesmoke;
}

.heading span {
    font-family: 'Tektur', cursive !important;
    color: var(--yellow);
    color: #2e5aba;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    background-color: var(--bg-white);
    transition: left 0.5s ease-in-out;
}

header.dark-mode {
    background-color: var(--bg-grey);
}

/* Dark Mode Toggle Button */
body.dark-mode {
    background-color: #2e2e2e;
    color: #ffffff;
}

/* Toggle button style */
.toggle-container {
    position: fixed;
    display: flex;
    align-items: center;
}

.toggle input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    left: 11rem;
    width: 60px;
    height: 28px;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 6px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #215cf2;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider .bi-moon,
.slider .bi-sun {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
}

.slider .bi-sun {
    left: 6px;
    color: #ffffff;
    display: none;
}

.slider .bi-moon {
    right: 6px;
    color: #000000;
    display: none;
}

input:checked + .slider .bi-sun {
    display: block;
}

input:not(:checked) + .slider .bi-moon {
    display: block;
}

.user img {
    height: 18rem;
    width: 18rem;
    border-radius: 50%;
    object-fit: contain;
    margin-bottom: 1rem;
    border: .7rem solid #215cf2;
}

.user .name0 {
    font-size: 2.5rem;
    color: #dda743;
}

.user .name1 {
    font-size: 1.8rem;
    color: #d851e4;
}

.user .role0 {
    font-size: 1.4rem;
    line-height: 2;
    color: #b97e3a;
    padding: 0;
}

.user .role1 {
    font-size: 2rem;
    line-height: 2;
    color: #05ce81;
    padding: 0;
}

.navbar {
    width: 100%;
    padding: 1.25rem 0;
}

.navbar ul {
    list-style: none;
    padding: 0.2rem 6rem;
}

.navbar ul li a {
    display: block;
    padding: 1.2rem;
    margin: 1.2rem 2.2rem;
    background-color: #215cf2;
    color: white;
    font-size: 1.7rem;
    border-radius: 2rem;
}

.navbar ul li a:hover {
    transition: all 400ms;
    box-shadow: 0.1em 0.1em 1em #65ecea;
}

/* Light mode adjustment */
@media (prefers-color-scheme: dark) {
    .navbar ul li a:hover {
        box-shadow: 0.1em 0.1em 2em #215cf2; /* Change to a darker color for light mode */
    }
}

#menu {
    position: fixed;
    top: 2.5em;
    right: 1.5em;
    background: #e8eaea;
    color: #215cf2;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}

#menu:hover {
    transition: all 400ms;
    box-shadow: 0.1em 0.1em 1em #65ecea;
}

.home {
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: 0 1rem;
}

#Home .home-data {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;
}

#Home .home-data .home-image {
    display: none;
}

#Home .home-data .home-image .image-home {
    align-self: center;
    width: 50vh;
    border-radius: 10rem;
}

.home h3 {
    font-size: 3rem;
    color: #9e5bf0;
}

.home h2 {
    font-size: 4rem;
    color: #a363f2;
}

.home h2 span {
    color: #2dc8ef;
}

h1 {
    font-weight: 900;
    margin: 0.4em 0;
    color: #f67e7d;
}

h1 {
    font-size: 6.5rem;
}

h2 span {
    font-size: 5rem;
}

.container {
    width: 100%;
    padding-left: 3rem;
}

.progress-bar {
    margin: 0 0 10px;
    overflow: hidden;
    padding-right: 0;
}

.progress-title-holder {
    padding-bottom: 7px;
    position: relative;
    margin: 5px 0;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    line-height: 15px;
    font-weight: 900;
}

.progress-title {
    z-index: 100;
}

.data-libraries {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
}

.data-libraries li {
    display: flex;
    align-items: center;
}

.data-libraries li img {
    margin-left: 5px;
}


.progress-number-wrapper {
    width: 100%;
    z-index: 10;
}

.progress-number-mark {
    margin-bottom: 4px;
    border-radius: 3px;
    background-color: #215cf2;
    padding: 0 8px;
    position: absolute;
    bottom: 0;
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.progress-number-wrapper,
.progress-number-mark {
    font-family: Open Sans, sans-serif;
    font-size: 15px;
    line-height: 24px;
    height: 24px;
    letter-spacing: 0px;
    font-weight: 600;
    font-style: normal;
    text-transform: none;
    color: #F7F7F7;
}

.down-arrow {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #d523d2;
    position: absolute;
    left: 50%;
    top: 100%;
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.progress-content-outter {
    height: 12px;
    background-color: #bba9f1a1;
}

.progress-content {
    height: 21px;
    background-color: #688ef0;
    box-shadow: 0.1em 0.1em 1em #cf65ec;
}

.home p {
    font-size: 2rem;
    color: #c88b18;
    padding-top: 5rem;
}

.home .links {
    display: none;
}

.home .links a .btn {
    background: #215cf2;
    font-size: 2.5rem;
    padding: 3rem;
    margin: 1em 1em;
    color: white;
    font-weight: bold;
}

.home .links a .btn:hover {
    transition: all 400ms;
    box-shadow: 0.1em 0.1em 1em #65ecea;
}

.about .heading em {
    color: #9e9292;
}

.about .row {
    display: grid;
    padding: 1rem 0;
}

.about .info {
    padding: 2rem 1rem;
}

.about .row .info .image {
    display: flex;
    height: 50vh;
}

.about .row .info .image .my-image {
    height: 100%;
    margin: auto;
    padding: 2rem;
    border-radius: 5rem;
}

.about .row .info .data {
    display: flex;
    text-transform: none;
}

.about .row .info .data .my-data {
    height: 100%;
    margin: auto;
    padding: 2rem;
}

.about .info p {
    font-weight: bold;
    font-size: 2.2rem;
    padding: 1rem 0;
    font-weight: normal;
}

.about .info p .desc {
    color: #3686f5;
    padding: 1.5rem 0.5rem;
    margin: 0;
    font-weight: bold;
}

.about .info .container {
    margin: 1rem 4rem 0 0;
    padding: 0 1em 1em 1em;
}

.about a .btn {
    background-color: #215cf2;
    color: white;
    font-weight: bold;
    margin: 0 1.3rem;
}

.about a .btn:hover {
    transition: all 400ms;
    box-shadow: 0.1em 0.1em 2em #65ecea;
}

/* Light mode adjustment */
@media (prefers-color-scheme: dark) {
    .about a .btn:hover {
        box-shadow: 0.1em 0.1em 2em #215cf2; /* Change to a darker color for light mode */
    }
}

.about .counter {
    display: grid;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.about .counter .box {
    width: 20rem;
    background: #215cf2;
    color: white;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    border-radius: 3rem;
}

.about .counter .box:hover {
    transition: all 400ms;
    box-shadow: 0.1em 0.1em 4em #65ecea;
}

/* Light mode adjustment */
@media (prefers-color-scheme: dark) {
    .about .counter .box:hover {
        box-shadow: 0.1em 0.2em 4em #215cf2; /* Change to a darker color for light mode */
    }
}

.about .counter .box span {
    font-size: 4rem;
    font-weight: bold;
}

.about .counter .box h3 {
    font-size: 2rem;
    font-weight: bold;
}

.experience .row {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 4rem 6rem;
    font-size: 10px;
}

.experience .row .details {
    flex-basis: 80%;
    padding: 2rem;
}

.experience .row .details h3 {
    font-size: 3rem;
    padding: 1rem 0;
    font-weight: normal;
}

.experience-details em span {
    text-align: start;
    font-family: 'Tektur', cursive !important;
    color: #168b9d;
    padding: 1rem 0;
}

.experience .row .details .link-icon {
    font-size: 2rem;
    color: #3388e3a1;
}

.experience .row .details .link-icon:hover {
    box-shadow: 0.1em 0.1em 1em #65ecea;
}

/* Light mode adjustment */
@media (prefers-color-scheme: dark) {
    .experience .row .details .link-icon:hover {
        box-shadow: 0.1em 0.1em 3em #215cf2; /* Change to a darker color for light mode */
    }
}

.experience .row .details ul li {
    font-size: 2.1rem;
    text-transform: none;
    font-weight: bold;
    list-style: circle;
    font-weight: normal;
}

.project .row {
    display: grid;
    grid-template-areas: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

.project-container #project-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project .project-container .project-img-link {
    position: relative;
    padding: 10px;
    height: 250px;
}

.project .project-container .project-img-link1 {
    position: relative;
    padding: 10px;
    height: 270px;
}

.project .project-container .project-links {
    padding: 2rem;
    margin: 0 0 6rem 0;
}

.project .project-container .project-link {
    text-align: center;
}

.project .project-container .project-link .projBtn {
    background: #215cf2;
    width: auto;
    color: white;
    font-weight: bold;
}

.project .project-container .project-link .projBtn:hover {
    transition: all 400ms;
    box-shadow: 0.1em 0.1em 1em #65ecea;
}

/* Light mode adjustment */
@media (prefers-color-scheme: dark) {
    .project .project-container .project-link .projBtn:hover {
        box-shadow: 0.1em 0.1em 2em #215cf2; /* Change to a darker color for light mode */
    }
}

.project .project-container .project-img-link:hover {
    transform: scale(1.1);
    transition: all 400ms;
    box-shadow: 0.1em 0.1em 1em #65ecea;
}

/* Light mode adjustment */
@media (prefers-color-scheme: dark) {
    .project .project-container .project-img-link:hover {
        box-shadow: 0.1em 0.1em 3em #215cf2; /* Change to a darker color for light mode */
    }
}

.project .project-container .project-img-link1:hover {
    transform: scale(0.9);
    transition: all 400ms;
    box-shadow: 0.1em 0.1em 1em #65ecea;
}

/* Light mode adjustment */
@media (prefers-color-scheme: dark) {
    .project .project-container .project-img-link1:hover {
        box-shadow: 0.1em 0.1em 3em #215cf2; /* Change to a darker color for light mode */
    }
}

.project .project-container .link-icon {
    font-size: 2rem;
    color: #3388e3a1;
}

.project .project-container .link-icon:hover {
    box-shadow: 0.1em 0.1em 1em #65ecea;
}

/* Light mode adjustment */
@media (prefers-color-scheme: dark) {
    .project .project-container .link-icon:hover {
        box-shadow: 0.1em 0.1em 2em #215cf2; /* Change to a darker color for light mode */
    }
}

.certifications .box-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    object-fit: cover;
    padding: 2rem;
    margin: 1rem 6rem;
}

.certifications .box-container .box {
    width: auto;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid slateblue;
    position: relative;
}

.certifications .box-container .box span {
    font-weight: normal;
    font-size: 1.5rem;
    background: #7799ef;
    color: white;
    border-radius: 5rem;
    padding: .5rem 2.5rem;
}

.certifications .box-container .box h3 {
    font-weight: normal;
    font-size: 2rem;
    color: #fff;
    padding-top: 1.5rem;
}

.certifications .box-container .box p {
    font-size: 1.4rem;
    color: #eee;
    padding: 1rem 0;
}

.certifications .box-container .box i {
    position: absolute;
    top: -1.5rem;
    left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background: #215cf2;
}

.certifications .box-container .box .btn {
    background: #215cf2;
    color: white;
    font-weight: bold;
}

.certifications .box-container .box .btn:hover {
    transition: all 400ms;
    box-shadow: 0.1em 0.1em 3em #65ecea;
}

/* Light mode adjustment */
@media (prefers-color-scheme: dark) {
    .certifications .box-container .box .btn:hover {
        box-shadow: 0.1em 0.1em 3em #215cf2; /* Change to a darker color for light mode */
    }
}

#Contact {
    min-height: 70vh;
    padding: 1rem;
}

.contact .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content {
    flex: 1 1 30rem;
    padding: 2rem;
    padding-bottom: 0;
}

.contact .row .content .info1 {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
}

.contact .row .content .location {
    justify-self: center;
}

.contact .row form {
    flex: 1 1 45rem;
    margin: 2rem;
    margin-bottom: 4rem;
}

.contact .row form .box {
    padding: 1.5rem;
    margin: 1rem 0;
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
    border-radius: 1.3em;
    box-shadow: 0.1em 0.1em 1em black;
}

.contact .row form .box:hover {
    transition: all 400ms;
    box-shadow: 0.1em 0.1em 3em #65ecea;
}

/* Light mode adjustment */
@media (prefers-color-scheme: dark) {
    .contact .row form .box:hover {
        box-shadow: 0.1em 0.1em 3em #215cf2; /* Change to a darker color for light mode */
    }
}

.contact .row form .box::placeholder {
    text-transform: capitalize;
    color: gray;
}

.contact .row form .message {
    height: 15rem;
    resize: none;
}

.contact .row form .btn {
    background: #215cf2;
    margin: 0 7em;
    color: white;
    font-weight: bold;
}

.contact .row form .btn:hover {
    transition: all 400ms;
    box-shadow: 0.1em 0.1em 2em #65ecea;
}

/* Light mode adjustment */
@media (prefers-color-scheme: dark) {
    .contact .row form .btn:hover {
        box-shadow: 0.1em 0.1em 2em #215cf2; /* Change to a darker color for light mode */
    }
}

.contact .row .content .title {
    text-transform: capitalize;
    color: orange;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info1 h3 {
    text-transform: none;
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding: 0.5rem;
    font-weight: normal;
}

.contact .row .content .info1 h3 .mail {
    padding-right: 1rem;
    color: skyblue;
}

.contact .row .content .info1 h3 .call {
    padding-right: 1rem;
    color: greenyellow;
}

.contact .row .content .info1 h3 .locate {
    padding-right: 1rem;
    color: red;
}

#socialFooter {
    align-content: center;
    margin-bottom: 0;
}

.social .row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

.social .row .socialized {
    text-transform: capitalize;
    color: orange;
}

.social .row .socialized .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.social .row .socialized .info3 h3 i {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    color: #215cf2;
    padding: 1rem;
}

.social .row .socialized .info3 h3 .insta1:hover {
    color: #215cf2;
    transition: all 400ms;
    text-shadow: 0.1em 0.1em 1em white;
}

.social .row .socialized .info3 h3 .insta2:hover {
    color: #e90ada;
    transition: all 400ms;
    text-shadow: 0.1em 0.1em 1em white;
}

.social .row .socialized .info3 h3 .insta3:hover {
    color: black;
    transition: all 400ms;
    text-shadow: 0.1em 0.1em 1em white;
}

/* FOOTER */

.foot {
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
}

.foot a {
    text-transform: none;
    color: #cd07f5;
}

.foot a:hover {
    transition: all 400ms;
    text-shadow: 0.1em 0.1em 1em #fd42fd;
}

/* Return to top */

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #0a7682b3;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: #3f55fae6;
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}


/* media queries  */

@media (min-width:1400px) {

    html {
        font-size: 60%;
    }

    .home {
        padding: 1rem 4rem;
        text-align: -webkit-left;
    }

    h1 {
        font-size: 7rem;
    }

    h2 span {
        font-size: 4.8rem;
    }

    .home h2 {
        font-size: 4.8rem;
    }

    .home h3 {
        font-size: 3rem;
    }

    .project-container .project-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 5%;
        margin-top: 5%;
    }

    .project-container .project-link {
        padding: 2rem 5rem;
        margin: 4.5rem 0;
        position: relative;
        height: 300px;
    }

    .project .project-container .project-img-link {
        padding: 1rem 0;
        height: 290px;
    }

    .project .project-container .project-img-link1 {
        padding: 1rem 0;
        height: 290px;
    }

    .project .project-container .project-img-link .btn {
        padding: 1rem;
    }

    .project .project-container .project-img-link1 .btn {
        padding: 1rem;
    }

    .project .project-container .project-img-link:hover {
        transform: scale(0.9);
    }


    .project .project-container .project-img-link1:hover {
        transform: scale(0.9);
    }

    .contact .row form .btn {
        margin: 0 7em;
    }

}

@media (max-width:1400px) {

    html {
        font-size: 50%;
    }

    .home {
        padding: 1rem 4rem;
        text-align: -webkit-left;
    }

    h1 {
        font-size: 6rem;
    }

    h2 span {
        font-size: 4.8rem;
    }

    .home h2 {
        font-size: 4.8rem;
    }

    .home h3 {
        font-size: 3rem;
    }

    .project-container .project-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .project-container .project-link {
        padding: 2rem 5rem;
        margin: 4.5rem 0;
        position: relative;
        height: 200px;
    }

    .project .project-container .project-img-link {
        padding: 1rem 0;
        height: 200px;
    }

    .project .project-container .project-img-link1 {
        padding: 1rem 0;
        height: 200px;
    }

    .project .project-container .project-img-link .btn {
        padding: 1rem;
    }

    .project .project-container .project-img-link1 .btn {
        padding: 1rem;
    }

    .project .project-container .project-img-link:hover {
        transform: scale(0.9);
    }


    .project .project-container .project-img-link1:hover {
        transform: scale(0.9);
    }

    .contact .row form .btn {
        margin: 0 7em;
    }

}

@media (max-width:1200px) {

    html {
        font-size: 50%;
    }

    .home {
        padding: 1rem 4rem;
        text-align: -webkit-left;
    }

    h1 {
        font-size: 6rem;
    }

    h2 span {
        font-size: 4.8rem;
    }

    .home h2 {
        font-size: 4.8rem;
    }

    .home h3 {
        font-size: 3rem;
    }

    .project-container .project-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .project-container .project-link {
        padding: 2rem 5rem;
        margin: 4.5rem 0;
        position: relative;
        height: 170px;
    }

    .project .project-container .project-img-link {
        padding: 1rem 0;
        height: 170px;
    }

    .project .project-container .project-img-link1 {
        padding: 1rem 0;
        height: 170px;
    }

    .project .project-container .project-img-link .btn {
        padding: 1rem;
    }

    .project .project-container .project-img-link1 .btn {
        padding: 1rem;
    }

    .project .project-container .project-img-link:hover {
        transform: scale(0.9);
    }


    .project .project-container .project-img-link1:hover {
        transform: scale(0.9);
    }

    .contact .row form .btn {
        margin: 0 7em;
    }

}

@media (max-width:992px) {

    header {
        left: -120%;
    }

    #menu {
        display: block;
        position: fixed;
    }

    header.toggle {
        left: 0%;
    }

    body {
        padding: 0;
    }

    .home {
        padding: 6em;
    }

    #Home .home-data {
        margin-top: 4rem;
    }

    #Home .home-data .home-image {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    #Home .home-data .home-image .image-home {
        align-content: center;
        width: 30vh;
        border-radius: 3rem;
    }

    .home .links {
        display: block;
        text-align: center;
        padding: 2rem;
        margin-top: 20px;
    }

    .home .links a .btn {
        padding: 2rem;
    }

    h1 {
        font-size: 5.7rem;
    }

    h2 span {
        font-size: 4.1rem;
    }

    .home h2 {
        font-size: 4.1rem;
    }

    .home h3 {
        font-size: 2.5rem;
    }

    .project-container .project-link {
        padding: 5rem 6rem;
        margin: 4.5rem 0;
        position: relative;
        height: 190px;
    }

    .project .project-container .project-img-link {
        padding: 1rem 0;
        height: 175px;
    }

    .project .project-container .project-img-link1 {
        padding: 1rem 0;
        height: 175px;
    }

    .project .project-container .project-img-link:hover {
        transform: scale(0.9);
    }

    .project .project-container .project-img-link1:hover {
        transform: scale(0.9);
    }

    .contact .row form .btn {
        margin: 0 5.3em;
    }

}

@media (max-width:768px) {

    html {
        font-size: 50%;
    }

    .home {
        padding: 6em;
    }

    h1 {
        font-size: 5.4rem;
    }

    h2 span {
        font-size: 4rem;
    }

    .home h2 {
        font-size: 4rem;
    }

    .home h3 {
        font-size: 3rem;
    }

    .project-container .project-links {
        display: flex;
        flex-direction: column;
    }

    .project-container .project-link {
        padding: 5rem 20rem;
        margin: 2rem 0;
        position: relative;
        height: 260px;
    }

    .project .project-container .project-img-link {
        padding: 1rem 0;
        height: 210px;
    }

    .project .project-container .project-img-link1 {
        padding: 1rem 0;
        height: 210px;
    }

    .project .project-container .project-img-link:hover {
        transform: scale(0.9);
    }

    .project .project-container .project-img-link1:hover {
        transform: scale(0.9);
    }

    .contact .row form .btn {
        margin: 0 5.6em;
    }

}

@media (max-width: 700px) {

    .home {
        padding: 6em;
    }

    h1 {
        font-size: 5rem;
    }

    h2 span {
        font-size: 4rem;
    }

    .home h2 {
        font-size: 4rem;
    }

    .home h3 {
        font-size: 3rem;
    }

    .about .row .info {
        display: flexbox;
    }

    .about .row .info h3 {
        font-size: 2.5rem;
        font-weight: bold;
    }

    .about .counter {
        display: grid;
        position: relative;
    }

    .about .counter .box {
        margin: 1rem;
    }

    .contact .row {
        display: flex;
        justify-content: flex-end;
    }

    .project-container .project-link {
        padding: 3rem 15rem;
        margin: 2rem 0;
        position: relative;
        height: 245px;
    }

    .project .project-container .project-img-link {
        padding: 1rem 0;
        height: 200px;
    }

    .project .project-container .project-img-link1 {
        padding: 1rem 0;
        height: 200px;
    }

    .project .project-container .project-img-link:hover {
        transform: scale(0.9);
    }

    .project .project-container .project-img-link1:hover {
        transform: scale(0.9);
    }

    #socialFooter .row {
        display: flex;
        justify-content: center;
    }

    .contact .row form .btn {
        margin: 0 15em;
    }
}


@media (max-width: 576px) {

    .home {
        padding: 6em;
    }

    #Home .home-data .home-image .image-home {
        width: 30vh;
        border-radius: 2rem;
    }

    .home .links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        padding: 0;
    }

    h1 {
        font-weight: 900;
        margin: 0.4em 0;
        color: lightsalmon;
    }

    h1 {
        font-size: 3.3rem;
    }

    h2 span {
        font-size: 2.9rem;
    }

    .home h2 {
        font-size: 2.9rem;
    }

    .home h3 {
        font-size: 2.4rem;
    }

    .about .row .info {
        display: flexbox;
    }

    .about .row .info .image {
        display: flex;
        height: 30vh;
    }

    .about .row .info .data {
        display: flex;
        text-transform: none;
    }

    .about .counter {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .container {
        width: 100%;
    }

    .experience .row .details h3 {
        font-size: 2.7rem;
    }

    .experience .row .details ul li {
        font-size: 1.8rem;
    }

    .certifications .box-container .box h3 .btn {
        font-weight: normal;
        font-size: 2rem;
        padding: 2rem;
    }

    .project .project-container .project-links {
        display: flex;
        flex-direction: column;
        padding: 0 5rem 0 2rem;
    }

    .project-container .project-link {
        padding: 2rem 6rem;
        position: relative;
        margin: 1rem 0 2rem;
        height: 240px;
    }

    .project .project-container .project-img-link {
        padding: 1rem 0;
        height: 180px;
    }

    .project .project-container .project-img-link1 {
        padding: 1rem 0;
        height: 180px;
    }

    .project .project-container .project-img-link:hover {
        transform: scale(0.9);
    }

    .project .project-container .project-img-link1:hover {
        transform: scale(0.9);
    }

    .certifications .box-container {
        display: block;
        margin: 2rem;
    }

    .certifications .box {
        display: block;
        margin: 2rem;
    }

    .contact .row form .btn {
        margin: 0 8em;
    }

}

@media (max-width:400px) {

    .certifications .box-container .box h3 .btn {
        font-weight: normal;
        font-size: 2rem;
        padding: 2rem;
    }

    header {
        width: 100vw;
    }

    .heading {
        margin: 0 3rem;
    }

    .home {
        padding: 3em;
    }

    .home .links {
        padding: 0 2em;
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 span {
        font-size: 2.1rem;
    }

    .home h2 {
        font-size: 2.1rem;
    }

    .home h3 {
        font-size: 1.6rem;
    }

    .home p {
        font-size: 1.8rem;
    }

    .about .info {
        display: grid;
    }

    .about .counter {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .about .counter .box {
        padding: 2rem;
    }

    .about .row .info h3 {
        font-size: 2rem;
    }

    .about .counter .box {
        padding: 2rem;
    }

    .container {
        width: 100%;;
    }

    .experience .row {
        padding: 2em;
    }

    .experience .row .details h3 {
        font-size: 2.5rem;
    }

    .experience .row .details ul li {
        font-size: 1.8rem;
    }

    .experience .details .experience-details {
        width: 100%;
    }

    .project .project-container .project-links {
        padding: 1rem;
    }

    .project-container .project-link {
        position: relative;
        padding: 1rem 4rem;
        margin: 1rem 0 5rem;
        height: 200px;
    }

    .project .project-container .project-img-link {
        padding: 1rem 0;
        height: 170px;
    }

    .project .project-container .project-img-link1 {
        padding: 1rem 0;
        height: 170px;
    }

    .project .project-container .project-img-link:hover {
        transform: scale(0.9);
    }

    .project .project-container .project-img-link1:hover {
        transform: scale(0.9);
    }

    .certifications .box-container {
        display: block;
    }

    .certifications .box {
        display: block;
    }

    .contact .row {
        display: flex;
        justify-content: center;
    }

    .contact .row form .btn {
        margin: 0 6em;
    }

    .foot {
        text-align: center;
        font-size: 1.5rem;
        padding: 2rem;
    }

}

@media (max-width:339px) {
    h1 {
        font-size: 2rem;
    }

    h2 span {
        font-size: 1.5rem;
    }

    .home h2 {
        font-size: 1.5rem;
    }

    .home h3 {
        font-size: 1.1rem;
    }

    .home p {
        font-size: 1.5rem;
    }

    .container {
        width: 100%;
    }
}